@{
    ViewBag.Title = "Home Page";
}

<div style="width:50%; margin-left:10%; background-color:white; width:70%; height:500px; border:solid 1px; border-color:lightgray; border-radius:15px; ">
    <div style="text-align:center; margin-top:20px; font-weight:600; font-size:25px;"> Welcome! </div>
    <div style="text-align:center; margin-top:15px; font-size:20px;">
        <p>
            This is a demo project
        </p>
    </div>
</div>